<!DOCTYPE html>
<html>
<head>
	<title>History</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<h1 class="title">Online Journal</h1>
		<ul id="nav_bar">
			<li id="nav_item"><a id="nav_link" href="Journal.html">Home</a></li>
			<li id="nav_item"><a id="nav_link" href="history.html">Previous Entries</a></li>
		</ul>
	<h1>Previous Entiries</h1>
	<p>Message: <%= test %></p>
</body>
</html>